/*统一设置页面样式*/
body{
	/*字体样式*/
	font:12px "Microsoft Yahei","黑体",sans-serif;
	color: #9a9a9a;
}
/*清楚默认样式*/
body,h1,h2,h3,h4,h5,h6,p,ul,ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	color: #9a9a9a;
	text-decoration: none;
}
a:hover{
	color: #64a131;
}
img{
	vertical-align: bottom;
}

#container{
	width: 990px;
	margin: 0 auto;
}
#nav{
	height: 30px;
	background: #eee;
}